*nat
:PREROUTING ACCEPT [0:0]
-A PREROUTING -p tcp --dport 3389 -i eth0 -j DNAT --to {{ private_instance_ip }}
-A PREROUTING -p tcp --dport 5986 -i eth0 -j DNAT --to {{ private_instance_ip }}
-A PREROUTING -p tcp --dport 5985 -i eth0 -j DNAT --to {{ private_instance_ip }}
-A PREROUTING -p tcp --sport 80 -i eth0 -j DNAT --to {{ private_instance_ip }}
-A PREROUTING -p tcp --sport 443 -i eth0 -j DNAT --to {{ private_instance_ip }}
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{ private_instance_ip }}/32 -o eth0 -j MASQUERADE
COMMIT
